@charset "UTF-8";
@import url('style_Reset.css');

 
 h1 { margin: 20px 0; }
 li { 
 		font-size: 26px;
 		line-height: 60px;
 		margin-left: 30px;
 		list-style-type: disc;
 		list-style-position: inside;
 }

footer#footer {
	margin: 20px 40px;	
}

footer#footer span {
	font-size: 24px;
	font-weight: bold;
} 
 